/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  background-image: url('./components/background.jpg'); /* Replace with your image name */
  background-size: cover; /* Ensure the image covers the whole screen */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
